@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Roboto+Mono:wght@200;400;600;700&family=Roboto+Slab:wght@900&display=swap");
:root {
  --color-black-1: hsl(0, 0%, 0%, 0.01);
  --font-family-barlow: "Barlow", sans-serif;
  --font-family-roboto-mono: "Roboto Mono", monospace;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  --color-green-1: hsl(122, 37%, 74%);
  --color-grey-1: hsl(203, 5%, 47%);
  --color-off_white_1: hsl(0, 8%, 70%, .1);
  --color-off_white_2: hsl(0, 0%, 20%, .05);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  --color-yellow-1: hsl(48, 89%, 80%);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, #root {
  background: radial-gradient(#e8cfda, #9bbbe0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

button {
  border: none;
  cursor: pointer;
}

.game_page {
  background: transparent;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.game_page-nav {
  align-items: center;
  align-self: stretch;
  background-color: var(--color-off_white_2);
  border-bottom: 1px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 10, 0.2);
  -moz-column-gap: 4%;
       column-gap: 4%;
  display: flex;
  flex-basis: 50px;
  --header-font-size: 1.5em;
  justify-content: flex-end;
  padding: 1em;
}
.game_page-nav-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-right: 1rem;
  width: 10rem;
}
.game_page-nav-item-icon {
  background-color: inherit;
  height: 3rem;
  width: 3rem;
}
.game_page-nav-item-description {
  font-family: var(--font-family-roboto-mono);
  font-size: 1.2rem;
  text-align: center;
}
.game_page-nav-title {
  font-family: var(--font-family-barlow);
  font-size: 4rem;
  font-weight: 300;
  padding-left: 5rem;
  width: 100%;
}
.game_page-main {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: min(100%, 500px);
}
.game_page-main .keyboard {
  align-self: stretch;
  --keyboard-btn-gap: calc(var(--keyboard-btn-height) / 11);
  --keyboard-btn-height: 4rem;
  --keyboard-btn-radius: calc(var(--keyboard-btn-height) / 5);
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  --keyboard-font-size: calc(1rem * 1.3);
  font-size: var(--keyboard-font-size);
  row-gap: var(--keyboard-btn-gap);
}
.game_page-main .keyboard-row {
  -moz-column-gap: var(--keyboard-btn-gap);
       column-gap: var(--keyboard-btn-gap);
  display: flex;
  justify-content: center;
}
.game_page-main .keyboard-btn {
  background-color: transparent;
  border-radius: var(--keyboard-btn-radius);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: -webkit-grab;
  cursor: grab;
  flex-basis: var(--keyboard-btn-height);
  font-size: inherit;
  height: var(--keyboard-btn-height);
}
.game_page-main .keyboard-btn:active {
  background-color: var(--color-grey-1);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: background-color 0.5s ease-in-out;
}
.game_page-main .keyboard-btn.wide {
  flex-basis: calc(var(--keyboard-btn-height) * 1.5);
}
.game_page-main .keyboard-btn.yellow {
  background-color: var(--color-yellow-1);
}
.game_page-main .keyboard-btn.green {
  background-color: var(--color-green-1);
}
.game_page-main .keyboard-btn.grey {
  background-color: var(--color-grey-1);
}
.game_page-main .keyboard-btn.notInTargetWord {
  background-color: #CE9178;
}
.game_page-main .keyboard-btn.correctPlace {
  background-color: #80C0A8;
}
.game_page-main .keyboard-btn.incorrectPlace {
  background-color: #A074C4;
}
.game_page-main .board {
  align-content: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(5, var(--display-item-height));
  grid-template-rows: repeat(5, var(--display-item-height));
  height: 50vmax;
  --display-item-height: 13%;
  justify-content: center;
  max-height: 500px;
  max-width: 500px;
  padding: 2rem;
  row-gap: 1rem;
  width: 50vmax;
}
.game_page-main .board-tile {
  align-items: center;
  background-color: var(--color-black-1);
  border: 0.1px solid var(--color-grey-1);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-basis: var(--display-item-height);
  font-family: var(--font-family-roboto-mono);
  font-size: 2.7rem;
  font-weight: 400;
  justify-content: center;
}
.game_page-main .board-tile.focused {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px inset;
}
.game_page-main .board-tile.empty {
  background-color: transparent;
}
.game_page-main .board-tile.notInTargetWord {
  background-color: #CE9178;
}
.game_page-main .board-tile.correctPlace {
  background-color: #80C0A8;
}
.game_page-main .board-tile.incorrectPlace {
  background-color: #A074C4;
}

.modal_window {
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: var(--color-grey-2);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.modal_window .modal-container {
  background-color: var(--color-off_white_1);
  border-radius: 4rem;
  height: 400px;
  padding: 2rem;
  width: 400px;
  z-index: 1000;
}
.modal_window .modal-container .end-message {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-barlow);
  font-size: 2rem;
  font-weight: 300;
  justify-content: center;
  row-gap: 1rem;
  text-align: center;
}
.modal_window .modal-container .end-message button {
  background-color: transparent;
  border: 0.1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem;
}
.modal_window .modal-container button {
  background-color: transparent;
  border: 0.1px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem;
}

.welcome_page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5rem;
}
.welcome_page-header {
  font-family: var(--font-family-roboto-mono);
  font-size: 4rem;
}
.welcome_page-main {
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2rem;
  width: 100%;
}
.welcome_page-main-link {
  align-items: center;
  border: 1px solid black;
  border-radius: 2rem;
  color: black;
  display: flex;
  flex-basis: 200px;
  font-family: var(--font-family-barlow);
  font-size: 2rem;
  justify-content: center;
  padding: 2rem;
  text-decoration: none;
}
.welcome_page-main-link:hover {
  background-color: black;
  color: white;
}

.welcome_container-h1 {
  font-size: xx-large;
}

.hidden {
  display: none;
}

.toasts {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.toasts .toast {
  align-items: center;
  -webkit-animation: ease-in 10s;
          animation: ease-in 10s;
  background-color: black;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  font-family: var(--font-family-barlow);
  font-size: 1.5rem;
  height: 100px;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  position: absolute;
  width: 200px;
  z-index: 1000;
}

.sidebar {
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  z-index: 1000;
}
.sidebar-item {
  background-color: transparent;
  border: 0.1px solid var(--color-grey-1);
  border-radius: 50%;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
}
.sidebar-item .icon {
  font-size: 2rem;
}/*# sourceMappingURL=index.css.map */